*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

nav {
  background: gray;
}

nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  min-height: 3em;
}

nav  a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4em;
}

nav a:hover{
  border-bottom: 2px solid whitesmoke;
}
